.skeleton { 
    background: #1e222e;
    padding: 20px;
    border-radius: 8px;
}

.pulse {
    display: block;
    animation: pulse 1.5s infinite ease-in-out;
    background:#2a3040;
    border-radius: 4px; 
    margin: 10px auto;
}

@keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}

.skeleton-sprite {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.skeleton-title {
    width: 60%;
    height: 20px;
}

.skeleton-text {
     width: 80%;
     height: 15px;
}

.theme-electric {
    border: 2px solid #F5C842; /* El amarillo de Pikachu */
    box-shadow: 0 0 15px rgba(245, 200, 66, 0.3);
}

.type-tag.electric {
    background: #F5C842;
    color: #000;
}

